pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Lkp Source Tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "SPGetTablesToCopy",
						"storedProcedureParameters": {
							"MaxId": {
								"type": "Int32",
								"value": "1"
							},
							"TableName": {
								"type": "String",
								"value": {
									"value": "@variables('SettinsCopyTable')",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SettingsDataSet",
						"type": "DatasetReference",
						"parameters": {
							"DataSetSettingsDbName": {
								"value": "@variables('SettingDbName')",
								"type": "Expression"
							},
							"SettingsCopiesTable": {
								"value": "@variables('SettinsCopyTable')",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For Each Table in Source",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lkp Source Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lkp Source Tables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Source Table To Destination",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SourceDataSet",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@item().SourceTable",
											"type": "Expression"
										},
										"DataSetDbName": {
											"value": "@item().SourceDb",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DestinationDataSet",
									"type": "DatasetReference",
									"parameters": {
										"TargetTable": {
											"value": "@item().TargetTable",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"SettingDbName": {
				"type": "String",
				"defaultValue": "SettingsDb"
			},
			"SettinsCopyTable": {
				"type": "String",
				"defaultValue": "Settings"
			}
		},
		"annotations": []
	}
}